# Server Configuration
PORT=8000

# Database Configuration (for AWS RDS or Supabase or Docker)
# For Supabase:
# SPRING_DATASOURCE_URL=jdbc:postgresql://aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres
# For AWS RDS:
# SPRING_DATASOURCE_URL=jdbc:postgresql://<your-rds-endpoint>.rds.amazonaws.com:5432/<dbname>
# For Docker / Local:
DB_HOST=localhost
DB_PORT=5432
DB_NAME=Uptime-Maintenance-log-reporting-app
DB_USER=postgres
DB_PASSWORD=mangal@123

# JWT Configuration
JWT_SECRET=VGhpc0lzQVN1cGVyU2VjcmV0S2V5Rm9ySldUU3ByaW5nQm9vdA==
JWT_EXPIRATION=1800000

# Initial Admin Employee Credentials
ADMIN_EMPLOYEE_NAME=mangal
ADMIN_EMPLOYEE_PASSWORD=mangal@123
